@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
}

.container {
	max-width: 1110px !important;
	margin: 0 auto;
	width: 100%;
}

.nav-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 24.95px;
	text-align: left;
	color: #70737c;
}

.mobile-navbar-content {
	box-shadow: -6px 4px 41px 0px #00000040;
}

.carousel-item {
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
}

.carousel-item:hover,
.carousel-item.active {
	opacity: 1;
	box-shadow: 0px 4px 21px 0px #d1d1d140;
	transform: translateY(-20px);
}

.image-frame {
	position: relative;
	padding: 50px;
	border-radius: 50%;
	background: linear-gradient(225.35deg,
			#359740 -4.8%,
			rgba(207, 233, 195, 0.696238) 50.04%,
			rgba(255, 255, 255, 0) 69.7%);
}

.image-frame::before {
	background-color: white;
	content: "";
	width: calc(100% - 22px);
	height: calc(100% - 22px);
	position: absolute;
	border-radius: 50%;
	top: 11px;
	left: 11px;
}

.carousel-wrapper::-webkit-scrollbar {
	display: none;
	width: 0;
}

.carousel-wrapper {
	scrollbar-width: none;
}


.section1 {
	width: 447px;
	margin: 0 auto;
}

.hr{
	border: 1px solid #EFEFEF;
}

@media screen and (max-width: 1110px) {
	.container {
		padding: 0 0.5rem;
	}

	.nav-link {
		font-size: 13px;
		line-height: 22px;
	}

	.navbar {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 1000px) {
	.search-panel {
		display: none !important;
	}
}